@import url("../blocks/page.css");
@import url("../blocks/form.css");
@import url("../blocks/header.css");
@import url("../blocks/nav.css");
@import url("../blocks/recipes.css");
@import url("../blocks/reservation.css");
.footer {
  box-sizing: border-box;
  background-color: #0a2750;
  color: #ffffff;
  /*padding-top: 60px;
  padding-right: 80px;
  padding-bottom: 60px;
  padding-left: 80px;*/
}

.footer__coffe {
  /*padding: 60px 80px 0px 80px;*/
  display: flex;
  align-items: center;
  margin-right: auto;
}
.footer__coffe-heading {
  padding-left: 40px;
}
.footer__coffe_content_social {
  display: block;
  margin-left: auto;
  margin-right: 80px;
}

.footer__logo {
  width: 58px;
  height: 80px;
}
.footer__logo_coffe {
  border-radius: 50%;
  background-color: dodgerblue;
  overflow: hidden;
  height: 200px;
  width: 200px;
}
.footer__list {
}
.footer__list-item {
  list-style-type: none;
}
.footer__coffe-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin-top: 100px;
  padding: 0px 80px 60px 80px;
}
